<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checks In</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="~{navbar :: navbar}"></div>

    <div class="container mt-3">
        <h1>Checks Out</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>cliente num documento</th>
                    <th>fechaEntrada</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="check: ${checkOut}">
                    <td th:text="${check.reserva}"></td>
                    <td th:text="${check.cliente}"></td>
                    
                    <td>
                        <h5 th:text="${check.fechaIngreso}"> </h5>
    
                        <!-- Botón para redirigir al formulario de la eliminacion del tipo -->
                        <form th:action="@{/deleteCheckOut}" method="post">
                            <input type="hidden" name="id" th:value="${check.id}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar check out</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de cliente -->
         <a th:href="@{/crearCheckOut}" class="btn btn-primary" style="margin-bottom: 38px;">Crear checkOut</a>
    
    </div>


<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
