<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Clientes</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo Documento</th>
                    <th>Numero documento</th>
                    <th>Correo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente: ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.tipoDocumento}"></td>
                    <td th:text="${cliente.numDocumento}"></td>
                    <td>
                        <h5 th:text="${cliente.correo}"> </h5>
    
                        <!-- Botón para redirigir al formulario de la eliminacion de la bebida -->
                        <form th:action="@{/deleteCliente}" method="post">
                            <input type="hidden" name="id" th:value="${cliente.id}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar cliente</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de cliente -->
         <a th:href="@{/crearCliente}" class="btn btn-primary" style="margin-bottom: 38px;">Crear cliente</a>
    
    </div>


<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
