<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Consumos</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>habitacion</th>
                    <th>fechaConsumo</th>
                    <th>Tipo Servicio</th>
                    <th>Servicio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="consumo: ${consumos}">
                    <td th:text="${consumo.habitacion}"></td>
                    <td th:text="${consumo.fechaConsumo}"></td>
                    <td th:text="${consumo.tipoServicio.tipo}"></td>
                    <td th:text="${consumo.tipoServicio.descripcion}"></td>
                    <td th:text="${consumo.servicio.nombre}"></td>
                    <td th:text="${consumo.servicio.precio}"></td>
                    
                    <td>
    
                        <!-- Botón para redirigir al formulario de la eliminacion del tipo -->
                        <form th:action="@{/deleteConsumo}" method="post">
                            <input type="hidden" name="id" th:value="${consumo.id}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar consumo</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de cliente -->
         <a th:href="@{/consumoForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear consumo</a>
    
    </div>


<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
