<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <br>
    <div class="container border border-2 w-25">    

    <h1 class="text-center">Form</h1>

    <form th:action="@{/rfc5/form}" method="get">
        
        <h3>Ingrese un rango de fechas</h3>
        <br>
        <label class="col-form-label" for="fechaInicio">Fecha inicial</label>
        <input class="form-control" type="date" id="fechaInicio" name="fechaInicio" required><br>
        <label class="col-form-label" for="fechaFin">Fecha final</label>
        <input class="form-control" type="date" id="fechaFin" name="fechaFin" required><br>

        <h3>Elija un numero de documento</h3>
        <br>
        <label class="col-form-label" for="num_documento">Documento</label>
        <select class="form-control" id="num_documento" name="num_documento" required>
        <option th:each="numeroDocumento : ${numerosDocumento}" th:value="${numeroDocumento}" th:text="${numeroDocumento}"></option>
        </select>
        <br>

        <input type="submit" value="Aceptar" class="btn btn-primary">
        <a th:href="@{/}" class="btn btn-primary">Cancelar</a>
        </div>
    </br>
    </form>
    </div>
</body>
</html>