<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Habitaciones</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>numero</th>
                    <th>capacidad</th>
                    <th>costo</th>
                    <th>Tipo habitacion</th>
                    <th>jacuzzi</th>
                    <th>comedor</th>
                    <th>cocina</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
                <tr th:each="habitacion : ${habitaciones}">
                    <td th:text="${habitacion.numero}"></td>
                    <td th:text="${habitacion.capacidad}"></td>
                    <td th:text="${habitacion.costo}"></td>
                    <td th:text="${habitacion.tipoHabitacion.tipo}"></td>
                    <td th:text="${habitacion.tipoHabitacion.jacuzzi}"></td>
                    <td th:text="${habitacion.tipoHabitacion.comedor}"></td>
                    <td>
                        <h5 th:text="${habitacion.tipoHabitacion.cocina}"> </h5>
    
                        <!-- Botón para redirigir al formulario de la eliminacion de la bebida -->
                        <form th:action="@{/deleteHabitacion}" method="post">
                            <input type="hidden" name="id" th:value="${habitacion.id}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar habitacion</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de tipo bebida -->
         <a th:href="@{/habitacionForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear nueva habitacion</a>
    </div>

    

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
