<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes consumo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Planes consumo</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Estadia minima</th>
                    <th>Costo</th>
                    <th>descuentoReserva</th>
                    <th>descuentoBar</th>
                    <th>descuentoRestaurante</th>
                    <th>descuentoServicio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="planConsumo: ${planesConsumo}">
                    <td th:text="${planConsumo.nombre}"></td>
                    <td th:text="${planConsumo.estadiaMinima}"></td>
                    <td th:text="${planConsumo.costo}"></td>
                    <td th:text="${planConsumo.descuentoReserva}"></td>
                    <td th:text="${planConsumo.descuentoBar}"></td>
                    <td th:text="${planConsumo.descuentoRestaurante}"></td>
                    <td th:text="${planConsumo.descuentoServicio}"></td>
                </tr>
            </tbody>
        </table>
    </div>


<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
