<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Reservas</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>fechaEntrada</th>
                    <th>fechaSalida</th>
                    <th>numero personas</th>
                    <th>habitacion [Object Id]</th>
                    <th>cliente</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva: ${reservas}">
                    <td th:text="${reserva.fechaEntrada}"></td>
                    <td th:text="${reserva.fechaSalida}"></td>
                    <td th:text="${reserva.numeroPersonas}"></td>
                    <td th:text="${reserva.habitacion}"></td>
                    <td th:text="${reserva.cliente.tipoDocumento}"></td>
                    <td th:text="${reserva.cliente.numDocumento}"></td>
                    <td th:text="${reserva.cliente.nombre}"></td>
                    
                    <td>
                        <h5 th:text="${reserva.cliente.correo}"> </h5>
    
                        <!-- Botón para redirigir al formulario de la eliminacion del tipo -->
                        <form th:action="@{/deleteReserva}" method="post">
                            <input type="hidden" name="id" th:value="${reserva.id}" />
                            <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar reserva</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de cliente -->
         <a th:href="@{/crearReserva}" class="btn btn-primary" style="margin-bottom: 38px;">Crear reserva</a>
    
    </div>


<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
