<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RFC2</title>
</head>
<body>
    <h1>RFC2</h1>
    <table>
        <thead>
            <tr>
                <th>Habitacion</th>
                <th>Indice de Ocupacion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${rfc2}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>