<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indice</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h5>Mostrar el indice de ocupacion de cada habitacion en el ultimo año.</h5>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id de habitación</th>
                    <th>Dias ocupados en el año</th>
                    <th>Indice de ocupacion en el año</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Habitacion : ${Habitaciones}">
                    <td th:text="${Habitacion[0]}" class="centered-cell"></td>
                    <td th:text="${Habitacion[1]}" class="centered-cell"></td>
                    <td th:text="${Habitacion[2]}" class="centered-cell"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>  