<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total consumos</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h1>Total consumos</h1>
        
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Num documento</th>
                    <th>Nombre</th>
                    <th>Total consumos</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="consumo : ${Consumos}">
                    <tr>
                        <td th:text="${consumo[0]}"></td>
                        <td th:text="${consumo[1]}"></td>
                        <td th:text="${consumo[2]}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
        <h5 th:text="${'Tiempo: ' + Tiempo}"></h5>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>