<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DineroRecolectado</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <p></p>
        <h4 style="text-align: center">Operacion Hotel Andes.</h4>
        <h5 style="text-align: center">Reservas activas por fecha</h5>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Reservas activas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fechaA : ${fechasA}">
                    <td th:text="${fechaA[0]}"></td>
                    <td th:text="${fechaA[1]}"></td>
                </tr>
            </tbody>
        </table>
        <div></div>
        <h5 style="text-align: center">Consumos por dia</h5>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Total costo</th>
                    <th>Cantidad consumos</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fechaB : ${fechasB}">
                    <td th:text="${fechaB[0]}"></td>
                    <td th:text="${fechaB[1]}"></td>
                    <td th:text="${fechaB[2]}"></td>
                </tr>
            </tbody>
        </table>
        <div></div>
        <h5 style="text-align: center">Dias con menos ocupacion</h5>
        <table class="table table-hover table-bordered">
            <title>Dias con menos ocupacion</title>
            <thead class="thead-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Reservas activas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fechaC : ${fechasC}">
                    <td th:text="${fechaC[0]}"></td>
                    <td th:text="${fechaC[1]}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html> 