<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiciosConMalasSemanas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div>
        <h3 style="text-align: center">Mostrar los servicios en los que hubo menos de 3 consumos en 1 semana.</h5>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo servicio</th>
                    <th>Numero semana</th>
                    <th>Veces consumido</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="semana : ${semanas}">
                    <td th:text="${semana[0]}"></td>
                    <td th:text="${semana[1]}"></td>
                    <td th:text="${semana[2]}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver</a>
    </div>
</body>
</html>