<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipos Servicio</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>

    <!-- Incluye el navbar -->
    <div th:replace="navbar :: navbar"></div>

    <div class="container mt-3">
        <h1>Tipos Servicio</h1>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo de servicio</th>
                    <th>Descripcion</th>
                    <th>Servicios</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
                <!-- Iteramos sobre la lista de tipos de bebidas y mostramos los detalles -->
                <tr th:each="tipoServicio : ${tiposServicio}">
                    <td th:text="${tipoServicio.tipo}"></td>
                    <td th:text="${tipoServicio.descripcion}"></td>
                    <td>
                    <form th:action="@{/deleteTipoServicio}" method="post">
                        <input type="hidden" name="tipo" th:value="${tipoServicio.tipo}" />
                        <button type="submit" class="btn btn-primary" style="background-color: red; border-color: red; margin-top: 10px;">Eliminar Tipo de servicio</button>
                    </form>
                    </td>
                </td>
                </tr>
            </tbody>
        </table>
    
         <!-- Botón para redirigir al formulario de creación de tipo bebida -->
         <a th:href="@{/tipoServicioForm}" class="btn btn-primary" style="margin-bottom: 38px;">Crear Nuevo Tipo de Servicio</a>
    
    </div>

<script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
